<div class="div container" my-5>
    <h3 class="md-3">Employees</h3>
    <table class="table" *ngIf="employees">
<thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>salary</th>
        <th>Department</th>
        <th> </th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.department }}</td>
            <td><a [routerLink]="['/employees', 'edit', employee.id ]">View</a></td>
    </tr>
</tbody>
    </table>
    <p *ngIf="!employees">No Employees Found</p>
</div>